<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="base.html::layout(~{:: #content})">
<head>
  <meta charset="UTF-8">
  <title>CMS-add course</title>
</head>
<body>
<div id="content">
  <form class="wrapper" th:action="@{/admin/addCourse}" method="post" style="width:70%;">
    <h1 class="large-text" style="text-align:center;">Add Course</h1>
    <h1 class="text">Course Details</h1>
    <input type="text" class="input" placeholder="Enter course name" name="name">
    <input type="text" class="input" placeholder="Enter course duration" name="duration">
    <input type="number" class="input" placeholder="Enter batch size" name="batchSize">
    <input type="text" class="input" placeholder="Enter subject" name="subject">
    <input type="text" class="input" placeholder="Enter course price" name="price">
    <input type="text" class="input" placeholder="Enter course code" name="code">
    <hr>
    <h1 class="text">Tutors</h1>
    <input type="text" class="input" placeholder="Enter tutor1" name="tutor1">
    <input type="text" class="input" placeholder="Enter tutor2" name="tutor2">
    <input type="text" class="input" placeholder="Enter tutor3" name="tutor3">
    <input type="submit" class="button">
  </form>
</div>
</body>
</html>