<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/CSS/signupType.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/style.css}" rel="stylesheet"/>
    <title>CMS-SignUp Type</title>
</head>
<body class="body-background">
<div id="wrapper" class="forms-wrapper">
    <div class="type"><a class="link" th:href="@{/studentSignupForm}">Student</a></div>
    <div class="type"><a class="link" th:href="@{/instructorSignupForm}">Instructor</a></div>
    <div class="type"><a class="link" th:href="@{/adminSignupForm}">Admin</a></div>
</div>
</body>
</html>