<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="base.html::layout(~{:: #content})">
<head>
    <meta charset="UTF-8">
    <title>CMS-add assignment</title>
</head>
<body>
<div id="content">
    <form class="wrapper" th:action="@{/instructor/addAssignment}" method="post" style="width:70%;">
        <h1 class="large-text" style="text-align:center;">Add Assignment</h1>
        <h3 class="text">Assignment Details</h3>
        <input type="hidden" name="course" value="">
        <input type="hidden" name="id" value="">
        <input type="text" class="input" placeholder="Enter assignment topic" name="topic">
        <input type="text" class="input" placeholder="Enter deadline" name="deadline">
        <input type="number" class="input" placeholder="Enter marks" name="marks">
        <hr>
        <h3 class="text">Question Set</h3>
        <input type="file" class="input" name="questionSet">
        <hr>
        <h3 class="text">Description</h3>
        <textarea class="input" name="description" style="height:20vh;">
    </textarea>
        <input type="submit" class="button" value="Save"/>
    </form>
</div>
</body>
</html>